:root {
    --yellow-color: #cfa200;
    --black-color: black;
    --title-font: "DelaGothicOne-Regular";
    --light-font: "Inter-LightBETA";
    --regular-font: "Inter-Regular";
    --medium-font: "Inter-Medium";
}

html, * {
box-sizing: border-box;
}

@font-face {
    font-family: "Inter-LightBETA";
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/Inter-LightBETA.woff);
}

@font-face {
    font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Inter-Regular.woff);
}

@font-face {
    font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/Inter-Medium.woff);
}

@font-face {
    font-family: "DelaGothicOne-Regular";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/DelaGothicOne-Regular.woff);
}

body {
    background-color: white;
    color: white;
}

.container {
    background-color: white;
    max-width: 1170px;
    margin: 0 auto;
    
}

.main-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
}

.second-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
}

.modal-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
}

.timer-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
}

.this-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
}

.container-title {
    text-align: center;
    color: var(--black-color);
    margin: 100px 0;
    font-family: var(--title-font);
    letter-spacing: 2px;
    font-size: 60px;
}

.container-title-1 {
    margin-bottom: 75px;
    font-family: var(--title-font);
    letter-spacing: 2px;
    font-size: 28px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.tabwrapper {

}

.tabwrapper-btn {
    display: flex;
    flex-direction: column;
}

.tabwrapper__img {
    max-width: 600px;
    max-height: 500px;
    background-position: center;
    object-fit: cover;
    display: flex;

}
.tabwrapper__text {
    width: 600px;
    background-color: var(--yellow-color);
    color: var(--black-color);
    padding: 20px;
    margin-bottom: 50px;
    font-family: var(--regular-font);
    line-height: 25px;
}
.tabwrapper__btn {
    margin-bottom: 30px;
    padding: 10px;
    background-color: var(--yellow-color);
    border: none;
    color: var(--black-color);
    font-family: var(--medium-font);
    font-size: 20px;
}
.tabwrapper__btn_active {
    color: black;
    background-color: white;
}

.location {
    text-align: center;
    font-family: var(--title-font);
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 50px;
}

.modal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.modal-trigger {
    width: 60%;
    height: 25%;
    background-color: white;
    border: none;
    font-size: 60px;
}

.show-modal {
    /* display: none; */

    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.show-wrapper {
    position: relative;
    width: 600px;
    height: 400px;
}

.show-content {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.show-form {
    display: flex;
    color: black;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.btn-show {
    width: 50%;
    height: 15%;
    border: none;
    background-color: var(--yellow-color);
}

.btn__show--first {
    background-color: greenyellow;
}

.btn__show--second {
    background-color: lightsteelblue;
}

.btn__show--third {
    background-color: plum;
}

.modal__close {
    cursor: pointer;
    align-self: end;
}

.timer-wrapper {
    
}
.promotion__timer {
    flex-direction: column;
    width: 75%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}
.title {
    height: 20%;
    font-size: 32px;
}
.timer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.timer__block {
    width: 23%;
    height: 40%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
}


.this-wrapper {
}
.container-title-1 {
}
.this-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.this-blocks {
    display: flex;
    gap: 30px;
}
.this__first-block {
    background-color: var(--yellow-color);
    padding: 15px;
    height: 630px;
}

.this__img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.this__first-block-title {
    margin-bottom: 20px;
    font-size: 20px;
}
.this__first-block-subtitle {
}


.show-flex {
    display: flex;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 10px;
}

.local-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.slider-wrapper{
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.btn-lc {
    width: 400px;
    height: 50px;
    border: none;
    background-color: white;
    font-size: 20px;
}

.active {
    background-color: var(--yellow-color);
}

.forms-wrapper {
    padding: 50px 100px;
    background-color: #1e02d1;
    height: 1000px;
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.form-item {
    border: none;
    outline: none;
    width: 500px;
    height: 50px;
}

.forms {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 200px;
}

.form-btn {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: var(--yellow-color);
}

.offer__slide img {
    width: 100%;
}

.offer__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    padding-bottom: 200px;
}

.offer__slider-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    gap: 10px;
}

#current {
    font-size: 32px;
    font-weight: 700
}

.show {
    display: block;
}

.hide {
    display: none;
}

.offer__slider-inner {

}

.offer__slider-wrapper {
    width: 650px;
}